@using WebShop.Services.Models.ProductModels;
@model ProductCardViewModel;

<article id="@Model.Id" class="item-card">
    <div class="img-container">
        <a href="">
            <img src="@Model.ProductImage" alt="">
        </a>
    </div>
    <div class="card-content">
        <span class="tag">@(Model.PromotionalPrice)$</span>
        @{
            if (Model.Price != Model.PromotionalPrice)
            {
                var priceOutput = $"{Model.Price}$";
                <span class="actual-price">@priceOutput<hr></span>
            }
        }
        <div class="title">
            <strong>@Model.Name</strong>
        </div>
        <p>@Model.Brand</p>
        <div class="action-list">
            <a href="#" class="details-secondary">Details</a>
        </div>
    </div>
</article>
