@model ProductsPolyCollection;

<tr>
    <td>@Model.Name</td>
    <td>$<span>@Model.CurrentPrice</span></td>
    <td>@Model.BrandName</td>
    <td>@Model.CategoryName</td>
    <td class="action-list">
        <div class="dropdown-wrapper">

            <button class="dropdown-btn fas fa-cogs"></button>
            <div class="dropdown-container">
                <section class="dropdown-header">
                    <span>Options</span>
                    <button class="cus-btn cus-btn-cancel dropdown-close"></button>
                </section>
                <section class="dropdown-content">
                    <a class="cus-btn cus-btn-info" asp-action="ViewProduct" asp-route-id="@Model.Id">View</a>
                    <a class="cus-btn cus-btn-edit" asp-action="EditProduct" asp-route-id="@Model.Id">Edit</a>
                    <a class="cus-btn cus-btn-delete">Delete</a>
                </section>
            </div>
        </div>
    </td>
</tr>