@model SearchProductViewModel;

@{
    ViewBag.Title = "Products";
}

<div class="item-collection-container">
    <aside class="sidebar">
        <nav>
            <div data-att-folded="true" class="expansion-wrapper">
                <div class="expansion-window">
                    <button>
                        <span class="fold-icon"><i class="fas fa-chevron-down"></i></span><strong>Categories</strong>
                    </button>
                </div>
                <div class="expansion-container closed">

                    <ul class="categories content" style="display: none;">

                        <li><button class="category-btn" data-value="-1">All</button></li>
                        @foreach (var category in Model.Categories)
                        {
                            <li><button class="category-btn" data-value="@category.Id">@category.Name</button></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="order-by-wrapper">
            <select class="on-change-select" asp-for="OrderBy" data-input="orderBy">
                <option value="Name">Alphabetical: (A-z)</option>
                <option value="PriceAsc">Price: Low ► High</option>
                <option value="PriceDesc">Price: High ► Low</option>
            </select>
        </div>
    </aside>
    <section class="main-content">
        <div>
            <div class="centered-wrapper">
                <form method="get" class="search-bar auto-submit">
                    <input type="text" hidden asp-for="CategoryId" name="categoryId" id="category-id">
                    <input type="text" hidden asp-for="CurrentPage" name="page" id="page" data-result-hook="1">
                    <input type="text" hidden asp-for="OrderBy" name="orderBy" id="orderBy">
                    <div class="wrapper">
                        <input placeholder="Search..." type="text" asp-for="SearchTerm" name="searchTerm">
                        <button class="clear fas fa-times"></button>
                    </div>
                    <div class="btn-holder">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <h3>Search results:</h3>
            <div class="product-result-list">
                <div class="wrapper">
                    @foreach (var product in Model.Products)
                    {
                        <partial model="@product" name="ProductTemplates/_ProductCardPartial" />
                    }
                </div>
            </div>
            <div class="pages-bar">
                @{
                    var pages = Model.ProductCount / Model.ItemsPerPage;
                    var isDisabledBack = pages <= 1 || Model.CurrentPage == 1;
                    var isDisabledForward = pages <= 1 || Model.CurrentPage == pages;
                    var currentPage = Model.CurrentPage;
                    <ul data-result-hook="1" data-last-page="@pages" data-current-page="@Model.CurrentPage">

                        <li><button disabled="@isDisabledBack" class="page-start paging-btn fas fa-step-backward" data-page="1"></button></li>
                        <li><button disabled="@isDisabledBack" class="page-back paging-btn fas fa-caret-left"></button></li>
                        @{
                            
                            for (var i =  currentPage - 1; i < currentPage; i++)
                            {
                                
                                if (i < 1)
                                {
                                    continue;;
                                }
                               
                                <li><button class="page-option paging-btn" data-page="@i">@i</button></li>
                            }
                        }
                        
                        <li><button disabled class="paging-btn selected" data-page="@Model.CurrentPage">@Model.CurrentPage</button></li>
                        @{
                            for (var i = currentPage + 1; i <= pages; i++)
                            {
                                <li><button class="page-option paging-btn" data-page="@i">@i</button></li>
                            }
                        }
                        <li><button disabled="@isDisabledForward" class="page-next paging-btn fas fa-caret-right"></button></li>
                        <li><button disabled="@isDisabledForward" class="page-end paging-btn fas fa-step-forward" data-page="@pages"></button></li>
                    </ul>
                }
            </div>
        </div>
    </section>
</div>