@model RegisterViewModel;

<div class="screen-container register-container">
    <h1>Create account</h1>
    <form id="registerForm" method="post" class="register-form" action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-wrapper">
            <div>
                <input asp-for="@Model.UserName" type="text" placeholder="Username">
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="@Model.FirstName" type="text" placeholder="First name">
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="@Model.LastName" type="text" placeholder="LastName">
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="@Model.Email" type="email" placeholder="Email">
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="@Model.Password" type="password" placeholder="Password">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="@Model.RetypePassword" type="password" placeholder="Confirm Password">
                <span asp-validation-for="@Model.RetypePassword" class="text-danger"></span>
            </div>
        </div>
        <button id="registerSubmit" type="submit" class="cus-btn register-btn">Create</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}